@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  padding: 20px;
}
.header-list.header-complete {
  background: rgb(220, 142, 25);
}
.header-list.header-incomplete {
  background: rgb(160, 208, 88);
}
.header-list h1 {
  flex: 1;
  color: #fff;
}
.header-list .search-area {
  display: flex;
  width: calc(100% - 34rem);
  min-width: 300px;
}
.header-list .search-area input {
  width: calc(100% - 5rem);
  margin-right: 8px;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  border: none;
}
.header-list .search-area .search-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 24px;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 10px;
  cursor: pointer;
}
.header-list .link-area nav {
  display: flex;
  flex-direction: column; /* リンク自体を縦並びに */
  gap: 12px;
}
.header-list .link-area nav a {
  display: flex;
  flex-direction: column; /* アイコンと文字を縦に並べる */
  align-items: center; /* 中央揃え */
  text-decoration: none; /* 下線消す */
  color: #fff;
  font-size: 12px;
  gap: 4px;
}
.header-list .link-area nav a .completion-icon {
  font-size: 22px;
}
.header-list .link-area nav a .incompletion-icon {
  font-size: 22px;
}

.login-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin: 10rem auto;
  text-align: center;
}

.login-area p {
  font-size: 26px;
  font-weight: bold;
}
.login-area button {
  all: unset;
  margin-top: 12px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 50px;
  border-radius: 40px;
  background-image: linear-gradient(90deg, #d4f022, #5df7b7);
  cursor: pointer;
}

.logout-area {
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.logout-area .logout-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
}
.logout-area button {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

main {
  padding: 0 0 0 30px;
}
main .list-add {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}
main .list-add .input-add-area {
  width: calc(100% - 46rem);
  min-width: 200px;
}
main .list-add .input-add-area .input-add {
  width: 100%;
  padding: 5px;
  border: solid 1px #000;
  border-radius: 10px;
}
main .list-add .count {
  display: flex;
  gap: 4px;
}
main .list-add .count input {
  width: 2rem;
  text-align: center;
  border: solid 1px #000;
  border-radius: 10px;
  -moz-appearance: textfield;
}
main .list-add .count input::-webkit-inner-spin-button, main .list-add .count input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main .list-add .count button {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0px 10px;
  border: solid 1px #000;
  border-radius: 10px;
  cursor: pointer;
}
main .list-add .count .add-btn {
  padding: 0 25px;
  border-radius: 40px;
  border: none;
  color: #fff;
  background: #13a4f8;
  box-shadow: 1px 1px 1px #6b6868;
  text-shadow: 1px 1px 0 #161212;
}
main .list-add .count .add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
main .completion-button-area {
  margin-top: 3.1rem;
}
main .button-area {
  margin-bottom: 30px;
}
main .button-area button {
  margin-right: 1rem;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
}
main .button-area .complete-button {
  background: linear-gradient(#137ef8, rgb(6.2222222222, 101.3333333333, 209.7777777778));
  box-shadow: 0 6px #0b4892;
  border: none;
  border-radius: 8px;
  padding: 12px 26px;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}
main .button-area .complete-button:hover {
  box-shadow: 0 4px #0b4892;
  transform: translateY(2px);
}
main .button-area .complete-button:active {
  box-shadow: 0 1px #0b4892;
  transform: translateY(4px);
}
main .button-area .delete-button {
  background: linear-gradient(#f0260f, rgb(192, 30.4, 12));
  box-shadow: 0 6px #950b0b;
  border: none;
  border-radius: 8px;
  padding: 12px 26px;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}
main .button-area .delete-button:hover {
  box-shadow: 0 4px #950b0b;
  transform: translateY(2px);
}
main .button-area .delete-button:active {
  box-shadow: 0 1px #950b0b;
  transform: translateY(4px);
}
main .button-area .edit-button {
  background: linear-gradient(#4caf50, rgb(60.5577689243, 139.4422310757, 63.7450199203));
  box-shadow: 0 6px #07710c;
  border: none;
  border-radius: 8px;
  padding: 12px 26px;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}
main .button-area .edit-button:hover {
  box-shadow: 0 4px #07710c;
  transform: translateY(2px);
}
main .button-area .edit-button:active {
  box-shadow: 0 1px #07710c;
  transform: translateY(4px);
}
main .button-area .back-button {
  background: linear-gradient(#edde11, rgb(189.4133858268, 177.4251968504, 13.5866141732));
  box-shadow: 0 6px #a3990c;
  border: none;
  border-radius: 8px;
  padding: 12px 26px;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}
main .button-area .back-button:hover {
  box-shadow: 0 4px #a3990c;
  transform: translateY(2px);
}
main .button-area .back-button:active {
  box-shadow: 0 1px #a3990c;
  transform: translateY(4px);
}
main .item-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
}
main .item-area .list-title {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
main .item-area .list-title .sort-area {
  display: flex;
  align-items: center;
  font-size: 18px;
}
main .item-area .list-title .sort-area .sort-content {
  display: flex;
  gap: 8px;
}
main .item-area .list-title .sort-area .sort-content .order-by {
  border-radius: 5px;
}
main .item-area ul {
  margin: 0px 20px 30px 10px;
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
}
main .item-area ul li {
  list-style: none;
  margin-left: 10px;
}
main .item-area ul li .list-row {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  min-width: 400px;
}
main .item-area ul li .list-row .list-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: solid 1px #000;
  margin-left: 8px;
  padding: 8px 10px;
  border-radius: 10px;
  min-width: 0;
  color: #000;
}
main .item-area ul li .list-row .list-tag .list-item {
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
main .item-area ul li .list-row .list-tag .item-part {
  flex-shrink: 0;
  display: flex;
  gap: 15px;
  padding-left: 12px;
  min-width: 150px;
}

.madal-backdrop {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.madal-backdrop .modal {
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-sizing: border-box;
}
.madal-backdrop .modal h2 {
  border-bottom: solid 1px #bfbdbd;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
.madal-backdrop .modal form > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.madal-backdrop .modal form > div label {
  width: 80px;
  text-align: left;
  margin-right: 10px;
}
.madal-backdrop .modal form > div input {
  flex: 1;
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}
.madal-backdrop .modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 8px;
}
.madal-backdrop .modal-actions button {
  all: unset;
  padding: 3px 8px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #6b6868;
  text-shadow: 1px 1px 0 #161212;
  cursor: pointer;
  transition: all 0.2s ease;
}
.madal-backdrop .modal-actions button:hover {
  opacity: 0.8;
}
.madal-backdrop .modal-actions .cancel {
  background: #c4c6c4;
}
.madal-backdrop .modal-actions .update {
  background: #137ef8;
}

@media (max-width: 767px) {
  .login-layout {
    width: 100vw;
    height: 60vh;
  }
  main {
    padding: 0 0 0 10px;
  }
  main .list-add {
    display: flex;
    gap: 5px;
  }
  main .list-add .input-add-area {
    width: 50%;
    min-width: 0;
  }
  main .list-add .count button {
    padding: 3px;
  }
  .header-list {
    position: relative;
  }
  .header-list h1 {
    font-size: 5vw;
  }
  .header-list .search-area {
    display: none;
  }
  .header-list .link-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header-list .link-area .search-btn-mobile {
    all: unset;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    border: solid 2px #fdf9f9;
    color: #f9f6f6;
    padding: 3px;
    border-radius: 8px;
  }
  .header-list .link-area nav a {
    font-size: 10px;
  }
  .header-list .logout-area button {
    font-size: 10px;
  }
  .dropdown-search {
    position: absolute;
    width: 100%;
    padding: 8px;
    background: #cacaca;
    display: flex;
    gap: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .dropdown-search input {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
  }
  .dropdown-search button {
    all: unset;
    display: flex;
    align-items: center;
    padding: 8px;
    border: solid 1px #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
  }
  main .item-area ul li .list-row {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;
  }
  main .item-area ul li .list-row input[type=checkbox] {
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
  }
  main .item-area ul li .list-tag .list-item {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    min-width: 0;
  }
  main .item-area ul li .list-tag .item-part {
    display: flex;
    gap: 6px;
    font-size: 12px;
    color: #666;
    flex-shrink: 0; /* 個数・日付は省略されない */
  }
}
@media (min-width: 768px) {
  .search-btn-mobile {
    display: none;
  }
  .dropdown-search {
    display: none;
  }
}/*# sourceMappingURL=App.css.map */